body {
  /*reset page*/
  margin-top: 0%;
  /*delete space in the top of page*/
}

body main header {
  margin: 0 2%;
}

nav {
  position: fixed;
  background-color: white;
  width: 100%;
}

#vertical_space {
  /*this div to keep navbar in top of page It has positoin:fixed*/
  height: 70px;
}


nav ul li a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  /*Remove Hyperlink Underline  */
}
/*position for menu*/
#menu{
position: relative;
top:40px;
}

nav ul li:nth-child(1)::before {
 
  padding-right: 20px;
}

nav ul li:nth-child(n+2)::after {
  content: "|";
  padding-right: 10px;
  padding-left: 10px;
}

nav ul li:nth-child(14)::after {
  content: "";
}

#icons {
  /*it is for logo --> THE BOSTON  GLOBE*/
  transform: translateX(45px);
  transform: translateY(-409px);
  fill: rgb(4, 23, 131);
}

/*move log B */
nav li a svg {
  /*to put LOGO and all list nav in same row */
  height: 1.7em;
  width: 3.5em;
  margin-top: 0.1em;
  /*align for log B*/
}

header svg {
  /*size of svg in  logo -->THE BOSTON  GLOBE */
  height: 79px;
  width: 50%;
}

#line_under_nav {
  background-color: white;
  border: 0.025em solid;
}

#line_under_header,
#line_over_header {
  background-color: white;
  border: 0.001% solid;
  margin: 0% 2% 1% 0%;
}

.trending {
  /*trending word in header*/
  color: #9e1511;
  font-weight: 800;
}

main header ul {
  margin: 0%;
  list-style-type: none;
  /*delete point or number  in elements of list */
  display: flex;
  /*align-items:center; /*between top -- down*/
  flex-direction: row;
  justify-content: flex-start;
  /*in same row*/
}

main ul li a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  /*Remove Hyperlink Underline  */
}

#trendingList li:nth-child(2)::before {
  content: "";
  padding-left: 30px;
}

#trendingList li:nth-child(n+2)::after {
  content: "|";
  padding-right: 10px;
  padding-left: 10px;
}

#trendingList li:nth-child(5)::after {
  content: "";
}

/*finish header */

/*start body container*/


/*when we hover an anker link in aside became it gray color*/
section li:nth-child(n+1) a:hover {
  color: gray;
}

/*Using a formula (an + b). Description: a represents a cycle size, n is a counter (starts at 0), and b is an offset value.
Here as exp. we specify a background color for all p elements whose index is a multiple of 3:
p:nth-of-type(3n+0) {
  background: red;
}*/

/*start four sections*/
section {
  margin: 0%;
}

section:nth-of-type(1) {
  border-right: 0.07em solid black;
}

section:nth-of-type(1) {
  font-size: 1em;
  /* background-color: antiquewhite;*/
  border-block: 1em;
}

section:nth-of-type(2) {
  /* order:2;*/
  font-size: 1.1em;
  /* background-color: rgb(227, 243, 242);*/
}

section:nth-of-type(3) {
  /*order:4;*/
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 0.7em;
}

section:nth-of-type(3) a article {
  margin-bottom: 10%;
  flex: 1 0 auto; }

/*section 4*/
section:nth-of-type(4) {
  /* order:3;*/
  background-color: #f3f2f1;
  width: 20%;
  font-size: 0.9em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* background-color: rgb(239, 198, 243);*/
}
/* Remove Hyperlink Underline */
section:nth-of-type(4) h3 {
  padding: 3% 0 0 4%;
  font-size: 1em;
  color: #9e1511;
  font-weight: 700;}
section:nth-of-type(4) #doubleLine {
  border-style: solid;
  width: 90%;
  border-width: 0.2em;
}
section hr {
  /*style for lines between articles*/
  margin: 3% 6% 4% 3%;
  width: 92%;
  border: 0;
  color: black;
  background-color: black;
  height: 0.07em;
}
/*coloring numbers in order list*/
section:nth-of-type(4) ol {
  /*delete num*/
  list-style: none;
  counter-reset: li;
}
section:nth-of-type(4) ol li::before {
  content: counter(li);
  color: red;
  display: inline-block;
  width: 1em;
  counter-increment: li;
  /*to incement num in li*/
  margin-left: -1.5em;
  /*get back space for num*/
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
  /*align */}
/*finish coloring oeder num- in list*/
/*when we hover an in any section article became it gray color*/
section:nth-of-type(n+1) a article:hover {
  color: gray;
}
section img,
p,
h2 {
  width: 95%;
  margin: 0% 3%;
}

section a {
  text-decoration: none;
  color: black;
  margin: 0%;
  padding: 0%;
}

section:nth-of-type(1) .titleArt {
  /*change color title setion1*/
  color: rgb(47, 173, 247);
  font-weight: 800;
  margin-bottom: 3%;
}

section:nth-of-type(1) {

  border-right: 0.01em s5olid black;
}

footer div {
  margin: 1% 0% 3% 0%;
  text-align: center;
}

container {
  display: flex;
  /*all sections flex as row*/
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}


nav ul {
  list-style-type: none;
  display: flex;

  flex-direction: row;
  height: 30px;
  justify-items: flex-start;
  /*in same row*/
  align-items: flex-start;
  /*between top -- down*/
  margin-bottom: 0%;
}
#navtoggle{
  display: inline;
}
@media (max-width:639px) /*iPad 2 sections*/
  {

    #menu{
      position: relative;
      top:8px;
      }
    /*Hoverable Dropdown for nav as colum in mobile case */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*end Hoverable Dropdown*/

    /*hidden those items in mobile case */
    header #trendingList,
    header #line_over_header,
    section:nth-of-type(4){
      display:none;
    }
  nav ul li:nth-child(n+1)::after {
    /*delete this icon '|' from nav words */
    content: " ";
  }

  #vertical_space {
    /*this div to keep navbar in top of page It has positoin:fixed*/
    height:50px;
  }

  nav ul {
    list-style-type: none;
    height: 100%;
    width: 20%;
   
    flex-direction: column;
    justify-content: flex-start;
    /*in same row*/
    margin-bottom: 0%;
  }

  nav ul:nth-child(n+1) li {
    /*add space beteen word in drop down list*/
    margin-bottom: 8%;
  }

  section:nth-of-type(n+1) {
    flex: 1 1 auto;
    /*flex --> grow skrink based*/
    order: 1;
  }

}

/*for media */
@media (min-width:640px) and (max-width:931px)

/*iPad 2 sections*/
  {
  section:nth-of-type(1) {
    flex: 1 1 auto;
    /*flex --> grow skrink based*/
    order: 1;
    width: 47%;
  }

  section:nth-of-type(2) {
    order: 2;
    flex: 1 1 auto;
    width: 47%;
  }

  section:nth-of-type(3) {
    margin-top: 10%;
    order: 3;
    flex: 1 1 auto;
    /*to display child grow shrink*/
    display: flex;
    /*all sections flex as wrap*/
    /*here I use it to do flex to the content of section -- Nested flex*/
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  /*I give width for each element of this up therd section*/
  section:nth-of-type(3) a {
    /*display in flex row */
    width: 25%;
  }

  section:nth-of-type(4) {
    margin-top: 10%;
    order: 4;
    width: 50%;
  }
}

@media (min-width:932px) and (max-width:1189px)

/*iPad 3 sections*/
  {

  section:nth-of-type(1) {
    flex: 1 1 auto;
    /*flex --> grow skrink based*/
    order: 1;
    width: 30%;
  }

  section:nth-of-type(2) {
    order: 2;
    flex: 1 1 auto;
    width: 40%;
  }

  section:nth-of-type(3) {
    margin-top: 10%;
    order: 4;
    flex: 1 1 auto;
    display: flex;
    /*all sections flex as row*/
    /*here I use it to do flex to the content of section -- Nested flex*/
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  /*I give width for each element of this up therd section*/
  section:nth-of-type(3) a {
    width: 20%;
  }

  section:nth-of-type(4) {
    order: 3;
    flex: 1 1 auto;
    width: 27%;
  }
}

/* end iPad */

@media (min-width:1190px)

/*desk-top pc display 4 sections */
  {


  section:nth-of-type(1) {
    flex: 1 1 auto;
    /* flex --> grow skrink based*/
    width: 20%;
  }

  section:nth-of-type(2) {
    flex: 1 1 auto;
    width: 40%;
  }

  section:nth-of-type(3) {
    flex: 1 1 auto;
    width: 15%;
  }

  section:nth-of-type(4) {
    flex: 1 1 auto;
    width: 20%;
  }
}
