img{
	width: 120px;
	background-color: aqua;
	float :left;
	}
h1{
	color: lightblue;
	text-align-last: center;
}

h3.myName{
font-size: 2.5ex;
color: black;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h2.cv {
color:black;
font-size: 1.2em;
text-align-last:center;
}

ul.address{
list-style-type:none;
width: 60%;
padding:0.2% 0% 0.4% 0.2%;
margin: 1% 1% 1% 1%;
float: left;
align-content: flex-end;
}
p{
	color:blue;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.2em;
}

.About-me{
clear:both;	

}

li{
	color:green;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.2em;
}

footer {
	position:absolute;
}
body{
	padding:3%;
}
